ul {
    list-style-type: none;
    width: 500px;
    height: 500px;
    border: 1px solid black;
  }
  li {
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
  }